In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
X=np.array(pd.read_csv("Train.csv"))[:,:5]
Y=np.array(pd.read_csv("Train.csv"))[:,5]

In [3]:
print(X.shape)

(1600, 5)

In [4]:
Y=Y.reshape((Y.shape[0],1))

In [5]:
r=np.ones((X.shape[0],1))
X=np.hstack((r,X))
print(X.shape)

(1600, 6)

In [6]:
theta=np.array(np.dot(np.linalg.pinv(np.dot(X.T,X)),np.dot(X.T,Y)))

In [7]:
print(theta)

[[ 4.99096674]
 [29.68187118]
 [92.66247759]
 [ 8.28062089]
 [44.76773522]
 [ 2.51916121]]

In [8]:
test=np.array(pd.read_csv("Test/Test.csv"))
r=np.ones((test.shape[0],1))
test=np.hstack((r,test))
print(test.shape)

(400, 6)

In [9]:
np.integer?

In [10]:
pred=[]
for i in range(test.shape[0]):
    pred.append(np.dot(test[i],theta))
pred=np.array(pred)
d=[]
for i in range(400):
    d.append(i)
d=np.array(d)
d=d.reshape((400,1))
#print(d)
#print(d.shape)
print(pred.shape)
#pred=np.hstack((d,pred))

(400, 1)

In [11]:
pred=pd.DataFrame(pred,columns=["target"])

In [12]:
pred.to_csv("outcome.csv")

In [13]:
pred

         target
0    114.583689
1    118.012815
2    -21.739852
3    -43.936899
4    -95.914898
..          ...
395  -81.989000
396 -186.032535
397  125.292336
398   65.369841
399   57.059691

[400 rows x 1 columns]